body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: green;
 }
  
 *::-webkit-scrollbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *::-webkit-scrollbar {
   scrollbar-width: none;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    height: 80vh;
    border-radius: 5px;
  }
  
  header {
    background-color: rgba(255, 255, 255, 0.2);
    height: 30px;
    color: #fff;
    padding: 20px;
    margin: 2px;
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  main {
    flex: 6;
    background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity to control glass effect */
    padding: 20px;
    margin: 2px;
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Add border for better visibility */
  }

  aside {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity to control glass effect */
    padding: 20px;
    margin: 2px;
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Add border for better visibility */
  } 
   
  footer {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2px;
    height: 30px;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    section, aside {
      width: 100%;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    main {
      padding: 40px;
    }
  
    section {
      width: 60%;
    }

    aside {
      width: 35%;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) {
    main {
      padding: 60px;
    }
  
    section {
      width: 70%;
    }

    aside {
      width: 25%;
    }
  }
