/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Firefox */
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(22, 24, 22);
  }
  
  /* Hide default scrollbar for WebKit browsers */
  *::-webkit-scrollbar {
    display: none;
  }
  
  .toggle-aside {
    position: absolute;
    top: 20px;
    right: 0px;
    cursor: pointer;
  }
  
  .toggle-aside img {
    width: 30px;
    height: 30px;
  }
  
  .hidden {
    display: none;
  }

  nav {
    text-align: start; /* Align navigation to the start */
  }
  
  nav ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    margin: 10px; /* Add spacing between list items */
  }
  
  nav a {
    text-decoration: none; /* Remove underline from anchor links */
    color: #fff; /* Set text color */
    font-weight:normal; /* Make the text bold */
    transition: color 0.3s; /* Add transition effect for color change */
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
  }
  
  nav a img {
    width: 35px; /* Set width of the icon */
    height: 35px; /* Set height of the icon */
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  nav a span {
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  nav a:hover {
    color: #ffcc00; /* Change text color on hover */
  }
    
  .container {
    display: flex;
    height: 100vh;
  }
  
  aside {
    display: flex;
    flex-direction: column; /* Display children elements in a column */
    align-items: center; /* Center-align items horizontally */
    padding: 20px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  aside img {
    height: 120px;
    width: 120px;
    left: -8px;
    top: -5px;
    margin: 0;
    padding: 0;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  header {
    width: auto;
    height: 30px; /* Fixed height for header */
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 20px;
    margin: 2px;
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  main {
    flex: 6; /* Take 4/6 (or 2/3) of the remaining space */
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 2px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  footer {
    width: auto;
    height: 30px; /* Fixed height for footer */
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    main {
      width: auto;
    }
  
    aside {
      width: 5%;
      display: flex;
    }

    aside img {
        height: 70px;
        width: 70px;
        left: -8px;
        top: -5px;
        margin: 0;
        padding: 0;
    }
    nav a span {
        display: none;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    main {
      width: auto;
    }
  
    section {
      width: 60%;
    }
  
    aside {
      width: 15%;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) {
    main {
      padding: 60px;
    }
  
    section {
      width: 70%;
    }
  
    aside {
      width: 15%;
    }
  }
  